* {
    box-sizing: border-box;
    margin: 0px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

label {
    text-align: start;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

input {
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

input::placeholder {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}


.container {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    padding: 13px 33px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border-style: none;
    font-family: 'Nunito Sans';
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFF;
}

.title {
    font-family: 'Yeseva One';
    font-size: 27px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-align: left;
    color: #E3B873;
}

.subtitle {
    font-family: 'Yeseva One';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

/* HEADER */

.header {
    background-color: #131313;
}

.header-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    max-width: 1256px;
    height: 83px;
    align-items: center;
}

.company-name {
    margin-right: auto;
    color: #E3B873;
}

.nav {
    margin-right: 67px;
}

.nav-list {
    display: flex;
}

.nav-item:not(:last-child) {
    margin-right: 47px;
}

.nav-link {
    font-family: 'Nunito Sans';
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    color:#FFF;
}

.header-phone-number {
    text-decoration: underline;
    font-family: 'Nunito Sans';
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    color: #E3B873;
}

.header-btn {
    margin-left: 45px;
}

/* HERO */

.section-hero {
    padding-top: 194px;
    padding-bottom:208px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/image-hero.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.section-hero-content {
    width: 520px;
    margin-left: 134px;
}

.section-hero-title {
    font-family: 'Yeseva One';
    font-size: 40px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
}

.section-hero-title-city {
    color: #E3B873;
}

.section-hero-text {
    font-family: 'Nunito Sans';
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color:#FFF;
}

.btn-hero {
    min-width: 207px;
    min-height: 51px;
    white-space: nowrap;
}

.btn-hero-calculate {
    margin-right: 20px;
}

.btn-hero-submit {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #FFF;
}

/* COMPLETED PROJECTS */

.section-project {
    max-height: 1074px;
    padding-top: 107px;
    padding-bottom: 414px;
    background: #131313;
}

.section-project-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto auto;
    margin-bottom: 91px;
    max-width: 1171px;
    max-height: 553px;
}

.section-project-title {
    margin-top: 69px;
    margin-bottom: 34px;
    max-width: 200px;
}

.section-project-text  {
    margin-top: 0;
    margin-right: 50px;
    margin-bottom: 42px;
    max-width: 441px;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
}

.description-project-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 68px;
    width: 380px;
    row-gap: 34px;
}

.description-project-item {
    flex: 1 1 50%;
}

.description-project-title {
    margin-top: 0;
    margin-bottom: 9px;
    font-family: 'Yeseva One';
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #E3B873;
}

.description-project-text {
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: top;
    color: #FFF;
}

.slider-list{
    display: inline;
    margin-left: 29px;
    margin-right: 29px;
}

.slider-item {
    display: inline;
}

.slider-item:not(:last-child) {
    margin-right: 17px;
}

.address-project-list{
    display: flex;
    flex-wrap: wrap;
}

.address-project-item {
    margin-bottom: 52px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.address-project-item:not(:last-child){
    margin-right: 60px;
}

.address-project-item:hover {
    margin-bottom: 50px;
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}

.section-project-subtitle {
    margin: 0 0 12px 0px;
    color: #FFF;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.section-project-video {
    position: relative;
    width: 817px;
    height: 434px;
    margin-top: 31px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video-poster.png") no-repeat;
}

.video-play-btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    z-index: 10;
    background: url('../img/video-play-button.svg') 50% 50% no-repeat; 
    border: none;   
}

/* ONLINE CONTROL */

.section-online-control {
    padding-top: 271px;
    padding-bottom: 76px;
}

.section-online-control-container {
    text-align: center;
}

.section-online-control-description {
    margin: 34px auto 93px auto;
    max-width: 680px;
    min-height: 130px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    color: #363636;
}

.section-online-control-form {
    display: flex;
    max-width: 770px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    row-gap: 35px;
}

.section-online-control-input {
    width: 231px;
}

.section-online-control-btn-submit{
    min-width: 200px;
    min-height: 51px;
}

.label-checkbox{
    margin-left: 8px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #181818;
}

/* TYPES OF REPAIR */
.section-types-container {
    max-width: 1236px;
}

.types-list {
    margin-top: 31px;
    margin-bottom: 230px;
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.types-item {
    max-width: 392px;
    min-height: 608px;
    flex: 0 0 33.33%;
    padding: 294px 31px 0px 31px;
}

.types-item:nth-child(1){
    background: url('../img/types-img-1.jpg') no-repeat;
}

.types-item:nth-child(2){
    background: url('../img/types-img-2.jpg') no-repeat;
}

.types-item:nth-child(3){
    background: url('../img/types-img-3.jpg') no-repeat;
}

.types-description {
    position: relative;
    padding: 25px 29px 49px 34px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.types-description-title {
    margin-bottom: 13px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}

.types-description-list {
    list-style-image: url(../img/ellipse.svg);
    list-style-position: inside;
}

.types-description-item {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.types-description-btn {
    position: absolute;
    margin-top: 23px;
}