* {
    box-sizing: border-box;
    margin: 0px;
}

img {
    max-width: 100%;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

label {
    text-align: start;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

input {
    background-color: #131313;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15)
}

input::placeholder {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

/* custom checkbox */
input[type="checkbox"] {
    margin-right: 6px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: lightgray;
    height: 16px;
    width: 16px;
    border-radius: 1px;
    color: white;
}

input[type="checkbox"]:checked {
    background: #E3B873;
    color: white;
}

input[type="checkbox"]:after {
    content: ' ';
    position: relative;
    left: 40%;
    top: 20%;
    width: 15%;
    height: 40%;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(50deg);
    display: none;
}

input[type="checkbox"]:checked:after {
    display: block;
}

.container {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    padding: 13px 33px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border-style: none;
    font-family: 'Nunito Sans';
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFF;
    cursor: pointer;
}

.title {
    font-family: 'Yeseva One';
    font-size: 27px;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
    color: #E3B873;
}

.subtitle {
    font-family: 'Yeseva One';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}

/* HEADER */

.header {
    background-color: #131313;
}

.header__container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    max-width: 1256px;
    height: 83px;
    align-items: center;
}

.header__company-name {
    margin-right: auto;
    color: #E3B873;
}

.header__nav {
    margin-right: 67px;
}

.nav__list {
    display: flex;
}

.nav__item:not(:last-child) {
    margin-right: 47px;
}

.nav__link {
    font-family: 'Nunito Sans';
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-transform: uppercase;
    color: #FFF;
}

.header__phone-number {
    text-decoration: underline;
    font-family: 'Nunito Sans';
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    color: #E3B873;
}

.header__btn {
    margin-left: 45px;
}

/* HERO */

.section-hero {
    padding-top: 194px;
    padding-bottom: 208px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/image-hero.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.section-hero__content {
    width: 520px;
    margin-left: 134px;
}

.section-hero__title {
    font-family: 'Yeseva One';
    font-size: 40px;
    font-weight: 400;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
}

.title__city {
    color: #E3B873;
}

.section-hero__text {
    margin-bottom: 41px;
    font-family: 'Nunito Sans';
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
}

.section-hero__btn {
    min-width: 207px;
    min-height: 51px;
    white-space: nowrap;
    text-transform: uppercase;
}

.section-hero__btn-calculate {
    margin-right: 20px;
}

.section-hero__btn-submit {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #FFF;
}

/* COMPLETED PROJECTS */

.section-project {
    max-height: 1074px;
    padding-top: 107px;
    padding-bottom: 414px;
    background: #131313;
}

.section-project__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto auto;
    margin-bottom: 91px;
    max-width: 1171px;
    max-height: 560px;
}

.section-project__title {
    margin-top: 69px;
    margin-bottom: 34px;
    max-width: 200px;
    letter-spacing: -0.07em;
}

.section-project__text {
    margin-top: 0;
    margin-right: 50px;
    margin-bottom: 42px;
    max-width: 441px;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF;
}

.description-project-list {
    display: flex;
    flex-wrap: wrap;
    width: 380px;
    row-gap: 34px;
}

.description-project-list__item {
    flex: 1 1 50%;
}

.description-project-list__title {
    margin-top: 0;
    margin-bottom: 9px;
    font-family: 'Yeseva One';
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    color: #E3B873;
}

.description-project-list__text {
    font-family: 'Nunito Sans';
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: top;
    color: #FFF;
}

.section-project__description-project-list {
    margin-bottom: 66px;
}

.slider__list {
    display: inline;
    margin-left: 29px;
    margin-right: 29px;
}

.slider__item {
    display: inline;
}

.slider__item:not(:last-child) {
    margin-right: 17px;
}

.slider__btn {
    background: none;
    border: none;
    cursor: pointer;
}

.address-project-list {
    display: flex;
    flex-wrap: wrap;
}

.address-project-list__item:not(:last-child) {
    margin-right: 60px;
}

.address-project-list__link {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.address-project-list__link:hover {
    color: #E3B873;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.section-project__address-project-list {
    margin-bottom: 52px;
}

.section-project__subtitle {
    margin: 0 0 12px 0px;
    color: #FFF;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.cam-svg {
    text-align: center;
}

.cam-svg__cam {
    transform: translateY(10px);
    margin: 0 8px;
}

.video {
    position: relative;
    width: 817px;
    height: 434px;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/video-poster.png") no-repeat;
}

.video__btn-play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    z-index: 10;
    background: url('../img/video-play-button.svg') 50% 50% no-repeat;
    border: none;
}

.section-project__video {
    margin-top: 31px;
    margin-right: auto;
    margin-left: auto;
}

/* ONLINE CONTROL */

.section-online-control {
    padding-top: 271px;
    padding-bottom: 76px;
}

.section-online-control__container {
    text-align: center;
}

.section-online-control__line {
    margin: 0 auto;
    width: 55px;
    height: 1.5px;
    background: #E3B873;
    border-radius: 30px;
    border: none;
}

.section-online-control__description {
    margin: 34px auto 93px auto;
    max-width: 680px;
    min-height: 130px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    color: #363636;
}

.section-online-control__simple-form {
    margin-left: auto;
    margin-right: auto;
}

.simple-form {
    display: flex;
    max-width: 770px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 35px;
}

.simple-form__block:nth-child(1) {
    margin-right: 58px;
}

.simple-form__block:nth-child(2) {
    margin-right: 49px;
}

.simple-form__input {
    width: 231px;
}

.simple-form__btn-submit {
    min-width: 200px;
    min-height: 51px;
    text-transform: uppercase;
}

.simple-form__label {
    display: block;
    color: rgba(54, 54, 54, 0.5);
}

.simple-form__label-checkbox {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #181818;
}

.simple-form__input {
    background: #FFFFFF;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.simple-form__input::placeholder {
    color: #363636;
}

/* TYPES OF REPAIR */

.section-types__container {
    max-width: 1236px;
}

.repair-svg {
    text-align: center;
}

.repair-svg__middle {
    transform: translateY(10px);
    margin: 0 8px;
}

.section-types__types-list {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin-top: 31px;
}

.types-item {
    max-width: 392px;
    min-height: 608px;
    flex: 0 0 33.33%;
    padding: 294px 31px 0px 31px;
    background-repeat: no-repeat;
}

.types-item:nth-child(1) {
    background-image: url('../img/types-img-1.jpg');
}

.types-item:nth-child(2) {
    background-image: url('../img/types-img-2.jpg');
}

.types-item:nth-child(3) {
    background-image: url('../img/types-img-3.jpg');
}

.types-item__description {
    padding: 25px 29px 49px 34px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    text-align: start;
}

.types-item__description-title {
    margin-bottom: 13px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}

.types-item__description-list {
    list-style-image: url(../img/ellipse.svg);
    list-style-position: inside;
}

.types-item__description-item {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.types-item__description-btn {
    position: absolute;
    margin-top: 23px;
    text-transform: uppercase;
}

/* REQUEST */

.section-request {
    padding-top: 124px;
    padding-bottom: 242px;
}

.section-request__container {
    height: 645px;
    background: url("../img/request-bg2.png") no-repeat;
    background-size: contain;

}

.section-request__content {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.section-request__form-request {
    margin-top: 130px;
    margin-right: 100px;
}

.form-request {
    padding: 28px 49px;
    min-width: 506px;
    height: 509px;
    display: flex;
    flex-direction: column;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}

.form-request__title {
    max-width: 250px;
    margin-bottom: 39px;
    align-self: center;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.form-request__input_mb_large {
    margin-bottom: 49px;
}

.form-request__input_mb_small {
    margin-bottom: 16px;
}

.form-request__btn-submit {
    margin-left: auto;
    margin-top: 30px;
    padding: 19px 22px;
    min-width: 213px;
    max-height: 51px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.section-request__special-offers {
    margin-top: 20px;
    margin-left: 866px;
    margin-right: 132px;
}

.special-offers {
    display: flex;
    align-items: center;
    min-width: 441px;
}

.special-offers__text {
    max-width: 250px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    transform: translateY(-8px)
}

/* SECTION STYLES */

.section-styles {
    padding-top: 137px;
    padding-bottom: 97px;
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%), url("../img/styles-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.section-style__container {
    position: relative;
}

.section-styles__title {
    max-width: 300px;
    max-height: 66px;
    margin-bottom: 47px;
    margin-left: 99px;
    text-transform: uppercase;
}

.section-styles__styles-list {
    margin-left: 99px;
}

.styles-list__item {
    max-height: 24px;
}

.styles-list__item:not(:last-child) {
    margin-bottom: 25px;
}

.styles-list__link {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    width: fit-content;
}

.styles-list__link:hover {
    color: #E3B873;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.section-styles__styles-img-item {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-styles__styles-img-item:nth-child(1) {
    width: 354px;
    height: 558px;
    margin-left: 587px;
    margin-top: -805px;
    background-image: url('../img/section-style-img-1.jpg');
}

.section-styles__styles-img-item:nth-child(2) {
    width: 354px;
    height: 349px;
    margin-left: 587px;
    margin-top: -208px;
    background-image: url('../img/section-style-img-2.jpg');
}

.section-styles__styles-img-item:nth-child(3) {
    width: 354px;
    height: 275px;
    margin-left: 984px;
    margin-top: -876px;
    background-image: url('../img/section-style-img-3.jpg');
}

.section-styles__styles-img-item:nth-child(4) {
    width: 354px;
    height: 625px;
    margin-left: 984px;
    margin-top: -562px;
    background-image: url('../img/section-style-img-4.jpg');
}

/* OUR CLIENTS */

.section-our-clients {
    padding-top: 110px;
}

.section-our-clients__container {
    max-width: 1236px;
    text-align: center;
}

.section-our-clients__subtitle {
    margin-bottom: 13px;
}

.section-our-clients__svg-icon {
    margin-bottom: 24px;
}

.section-our-clients__text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
}

.section-our-clients__clients-list {
    margin-top: 39px;
}

.clients-list {
    display: flex;
    justify-content: space-between;
    column-gap: 54px;
    flex: 0 0 33.33%;
}

.clients-item {
    position: relative;
    max-width: 376px;
    padding: 20px 34px 67px 22px;
    text-align: left;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04)
}

.clients-item__info {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.clients-item__img {
    border-radius: 50%;
    margin-right: 20px;
}

.clients-item__fullname {
    display: inline-block;
    max-width: 178px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}

.clients-item__review {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
}

.clients-item__description {
    margin-left: -22px;
    padding: 11px 0px 11px 17px;
    width: 147px;
    height: 54px;
    position: absolute;
    margin-top: 40px;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
}

.clients-item__description-area {
    display: inline-block;
}

.clients-item__description-peroid {
    display: inline-block;
    margin-left: 126px;
}

.clients-item__description-text {
    display: inline-block;
    position: absolute;
    margin-top: 6px;
    margin-left: 14px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.section-our-clients-bg {
    width: 100%;
    height: 392px;
    background: url('../img/our-clients-bg.svg');
    background-size: contain;
    filter: opacity(3%);
}

/* ANY QUESTIONS */

.section-any-questions {
    position: relative;
}

.section-any-questions__form-question {
    margin-top: -222px;
    margin-left: 289px;
    position: absolute;
}

.form-question {
    max-width: 883px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 34px 181px;
    background: #131313;
    column-gap: 58px;
}

.form-question__block {
    display: flex;
    flex-direction: column;
}

.form-question__title {
    width: 100%;
    margin-bottom: 45px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.form-question__block-question {
    width: 100%;
    margin-top: 48px;
    margin-bottom: 46px;
}

.form-question__block-checkbox {
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
}

.form-question__checkbox-label {
    text-align: center;
    color: #FFFFFF;
}

.form-question__btn-submit {
    min-width: 200px;
    min-height: 51px;
    margin-left: auto;
    margin-right: auto;
}

/* FOOTER */

.footer {
    padding-top: 247px;
    padding-bottom: 66px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/footer-bg.jpg") no-repeat;
    background-size: cover;
    text-align: center;
}

.footer__container {
    width: 925px;
}

.footer__title {
    margin-bottom: 26px;
    margin-left: auto;
    margin-right: auto;
    max-width: 560px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
}

.title__phone-number {
    color: #E3B873;
}

.footer__icon-email {
    margin-right: 15px;
}

.footer__map {
    margin-top: 40px;
    width: 100%;
    filter: saturate(0%);
}